.Header {
  font-family: Schwifty;
  font-size: 42px;
  text-align: center;
  color: seagreen;
  text-shadow: 1px 1px 3px greenyellow;
  height: 75px;
  width: 100%;
}
/* write your parent styles in here for your App.js */
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}